<div class="jumbotron" style="position: absolute;">
	<form name="my_form">
		<div style="float: left;">
				<p>Naam: <input type="text" ng-model="formData.name"></p>
				<p>Geheime tekst: <textarea rows="6" cols="30" ng-model="formData.decryptedMessage"></textarea></p>
				<p>Wachtwoord: <input type="text" ng-model="formData.secret"></p>
				<p><button ng-click="encrypt(formData)">Encrypt!</button></p>
				<p><button ng-click="decrypt(formData)">Decrypt!</button></p>
		</div>
		<div style="float: left;">
			<p>Versleutelde tekst: <textarea rows="6" cols="30" ng-model="formData.encryptedMessage.cipher_text"></textarea></p>
		</div>
	</form>
	<div style="clear:both;"></div>
</div>